<h1>Practicas</h1>
<table class="table table-striped">
  <tr>
    <th>Usuario</th>
    <th>Email</th>
    <th>Soluciones</th>
    <th>Puntos</th>
    <th>Detail</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.sol %></td>
    <td><%= user.points %></td>
    <td> <%= link_to 'detalle', '/practic/report2/'+user.id.to_s %></td>
  </tr>
<% end %>
</table>
<br />