<table>
  <tr>
  <th>
    Numero
  </th>
  <th>
    Ejercicio
  </th>
  <th>
    Puntos
  </th>
  <th>
    
  </th>
  </tr>
<% @exercises.each do |exercise| %>
  <tr>
    <td><%= exercise.id %></td>
    <td><%= exercise.name %></td>
    <td><%= exercise.points %></td>
    <td><%= link_to 'Resolver', '/practic/solve/'+exercise.id.to_s %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back', practic_path %>
