<h1>Listing comments_solutions</h1>

<table>
  <tr>
    <th>Solution</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments_solutions.each do |comments_solution| %>
  <tr>
    <td><%= comments_solution.solution_id %></td>
    <td><%= comments_solution.comment %></td>
    <td><%= link_to 'Show', comments_solution %></td>
    <td><%= link_to 'Edit', edit_comments_solution_path(comments_solution) %></td>
    <td><%= link_to 'Destroy', comments_solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comments solution', new_comments_solution_path %>
